  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <h2 class="text-center">Donate and help</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="donate">
          <h4>Sponsor a child for education</h4>
          <h5>Develop individual patronage:</h5>
          <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="donate">
          <h4>Mayaa Hong Kong</h4>
          <h4>Details bancaires| xxxx</h4>
          <h4>Do you want to give a little bit of time? Contact us: xx@mayaahk.com</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="wraper" style="background-color: #e8ecf0; padding-top: 20px; padding-bottom: 20px;">
    <div class="container text-center" style="">
      <h2 class="text-center">Contact us</h2>
      <div class="contact">
      <h5>MAYAAHK at Hong Kong French Chamber of Commerce <br>
      21/F <br>
      On Hing Building <br>
      1 On Hing Terrace <br>
      Central, Hong Kong</h5>
      <h4>Nicole Sicard +852 9613 5330</h4>
      </div>
    </div>
  </div>
