<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Details bancaires| xxxx</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: xx@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>


<div class="footer text-center">
  <div class="footer-content">
    <a href="mailto:">About Us</a>
    <a href="/">Contact Us</a>
    <a href="/">Our Team</a>
    <a href="/">Mentions légales</a>
  </div>
</div>

