
<div class="footer text-center">
  <div class="footer-content">
    <a href="mailto:give@mayaahk.com">Contact Us</a>
    <a href="http://www.mayaanepal.org.np/objectives.php" target="_blank">Mayaa Nepal</a>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <p style="font-size: 14px; margin-bottom: 20px; margin-top: 20px;">A company incorporated on 23 Dec 2016 under CR: 2320749 Recognised as a <br> charitable institution (under section 88 of the Hong Kong Inland Revenue Ordinance)</p>
  </div>
</div>

