<div class="navbar-wagon navbar-wagon-fixed">

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Search form -->
    <a href="https://www.facebook.com/mayaahongkong/" target="_blank">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="mailto:give@mayaahk.com">
    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCyDGImLgHRnNUI0_BCOnX4w">
    <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
  </div>




    <a href="/" class="navbar-wagon-brand">
    <%= image_tag('logo-mayaa.jpg') %>
    </a>


  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <a href="/team" class="navbar-wagon-item navbar-wagon-link btn-hover2 "><strong>ABOUT US</strong></a>
    <a type="button" class="navbar-wagon-item navbar-wagon-link btn-hover2 " data-toggle="modal" data-target=".bs-example-modal-lg"><strong>CONTACT</strong></a>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/team" class="navbar-wagon-item navbar-wagon-link"><strong>ABOUT US</strong></a></li>
        <li><a href="/contact" class="navbar-wagon-item navbar-wagon-link">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="text-center" style="margin-bottom: 30px">
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      </div>
      <h5>MAYAAHK at Hong Kong French Chamber of Commerce <br>
      21/F <br>
      On Hing Building <br>
      1 On Hing Terrace <br>
      Central, Hong Kong <br>
      Nicole Sicard +852 9613 5330 <br> <br>
      Mail : give@mayaahk.com</h5>
      <div class="text-center" style="margin-top: 30px">
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      </div>
    </div>
  </div>
</div>
