
<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image, "mayaa-banner.gif" %>

<div class="wraper">
  <div class="banner" style="background-image:  url('<%= image_path('mayaa-banner.gif') %>');">
    <div class="banner-content">
      <h1>Sponsor a child for education</h1>
    </div>
  </div>


  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="title">
      <div class="text-center" style="margin-bottom: 30px">
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      </div>
        <h4>
          The goal of Mayaa Hong Kong is to support children education, by developing individual patronage:
          To provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes private courses, books, stationery, school uniform.
        </h4>
      <div class="text-center" style="margin-top: 30px">
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      <i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i>
      <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i>
      </div>
    </div>
  </div>


  <div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa1.gif') %>');">
            </div>
            <a href="/aims" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.gif') %>');">
            </div>
            <a href="/raise" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.gif') %>');">
            </div>
            <a href="/communication" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wraper" style="padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 text-center">
        <div class="video-content">
        <h2 class="text-center" style="letter-spacing: 3px; color: #404895; margin-bottom: 30px;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Testimony <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/bE99mGPg_2g" frameborder="0" allowfullscreen style="border:10px solid white; border-radius;overflow:hidden;margin-bottom: 0px"></iframe>
        <a href="https://www.youtube.com/channel/UCyDGImLgHRnNUI0_BCOnX4w"><h3 style="color: #404895; letter-spacing: 3px; font-weight: bolder; margin-top: 0px"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 More videos</h3></a>
        </div>
        </div>
        <div class="col-md-8 text-center">
        <h2 class="text-center" style="margin-bottom: 30px;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Latest news and events <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
        <div class="iframe">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmayaahongkong%2F&tabs=timeline&width=500&height=300&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=false&appId=1842291762650037" width="500" height="300" style="border:10px solid white; border-radius;overflow:hidden; margin: auto; margin-bottom: 30px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wraper" style="background-color: #e8ecf0">
<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Bank account | HSBC 848 8724 38 838</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: give@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>
</div>

