<div class="wraper">
  <div class="banner" style="background-image:  url('<%= image_path('mayaa-banner.JPG') %>');">
    <div class="banner-content">
      <h1>Sponsor a child for education</h1>
    </div>
  </div>


  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="title">
      <h4>A child to provide with basic education cost Rs 8000 to 12000 (US$ 80 to 120) per year per child, which includes education in government school, book, stationary, school dress and stationary utensils.</h4>
    </div>
  </div>


  <div class="wraper" style="background-color: #e8ecf0; padding-top: 40px; padding-bottom: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa.jpg') %>');">
            </div>
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.JPG') %>');">
            </div>
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.JPG') %>');">
            </div>
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top: 20px; margin-bottom: 20px; ">
    <h2 class="text-center">Our events</h2>
  </div>


  <div class="wraper" style="background-color: #e8ecf0; padding-top: 20px; padding-bottom: 20px;">
  <h2 class="text-center" style="  letter-spacing: 3px; font-weight: lighter;">Testimony</h2>
  <div class="container video" style="">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N_fe6OwROl8" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
</div>
