<h2 class="text-center" style="margin-top: 150px; letter-spacing: 3px; font-weight: lighter;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> The aims of the charity Mayaa HK <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>

<div class="wraper" style="margin-top: 100px; background-color: #e8ecf0; padding: 40px;">
  <div class="container">
    <div class="row">
    <div class="col-md-7">
      <div class="mission-text">
      <p>
1- <strong>Sponsor</strong> under privileged children currently educated in local Hong Kong Schools. To provide:<br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> School uniforms <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Official text books (not supplied free by the Education Board) <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Stationary <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Pens and other equipment <br>
2- Liaise with the school authorities (head teacher) to respond to the future needs of pupils and the
school. <br>
3- Provide school books and general reading books to build up the school library to encourage all
pupils to discover the pleasure of reading. <br>
4- Ensure that the pupils receive a balanced and healthy daily meal. For those families that are
unable to do this, provide a free lunch meal for the pupils within the school’s catering facilities. <br>
5- Providing equipment, like computers, to supplement those supplied by the school authorities. <br>
6- Schools that are currently being helped are: <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> St Claire’s Girls School, 50 Mt Davis Road, Pok Fu Lam <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> St Stephen’s Church College, 62 Pok Fu Lam Road, Pok Fu Lam <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> The main goal of MAYAA is not to grow too fast! <br> <br>
We strive to consolidate the work which is currently already done: <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Improve our capacity to sponsor a child up to his school graduation + help him to get a post
graduate certificate or Professional training. <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Based on actions already undertaken elsewhere, develop similar educational support to
underprivileged children in Hong Kong. <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Help to improve local school facilities where these may be lacking, such as extra library
books, additional computers … <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Ensure that children receive at least one balanced meal per day. Either by providing the
meal or sponsoring within the school catering structure. <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> To identify children and families in need by working closely with the school authorities, and
school teachers. <br>
<i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Identify children in need educationally and provide extracurricular teaching to give them
that extra help to keep up.
</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="pic1" style="background-image:  url('<%= image_path('mission3.gif') %>');">

      </div>
      </div>
  </div>
</div>
</div>
