

<div class="wraper" style="margin-top: 50px; background-color: #e8ecf0; padding: 40px;">
  <div class="container" style="width: 950px;">
      <div class="pic1" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.4) 50%), url('<%= image_path('mission3.gif') %>');">
        <h2 class="text-center" style="letter-spacing: 3px; font-weight: bolder;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> The aims of the charity Mayaa HK <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
      </div>
      <div class="mission-text">
        <p>1- <strong>Sponsor</strong> under privileged children currently educated in local Hong Kong Schools. To provide:<br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> School uniforms <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Official text books (not supplied free by the Education Board) <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Stationary <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Pens and other equipment <br>
        2- Liaise with the <strong>school authorities</strong> (head teacher) to respond to the future needs of pupils and the
        school. <br>
        3- <strong>Provide school books</strong> and general reading books to build up the school library to encourage all
        pupils to discover the pleasure of reading. <br>
        4- Ensure that the pupils receive a balanced and healthy daily meal. For those families that are
        unable to do this, provide a free lunch meal for the pupils within the school’s catering facilities. <br>
        5- Providing equipment, <strong>like computers</strong>, to supplement those supplied by the school authorities. <br>
        6- <strong>Schools</strong> that are currently being helped are: <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> St Claire’s Girls School, 50 Mt Davis Road, Pok Fu Lam <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> St Stephen’s Church College, 62 Pok Fu Lam Road, Pok Fu Lam <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> The main goal of MAYAA is not to grow too fast! <br> <br>
        We strive to <strong>consolidate</strong> the work which is currently already done: <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> <strong>Improve</strong> our capacity to sponsor a child up to his school graduation + help him to get a post
        graduate certificate or Professional training. <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Based on actions already undertaken elsewhere, <strong>develop similar educational support</strong> to
        underprivileged children in Hong Kong. <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> <strong>Help to improve local school facilities</strong> where these may be lacking, such as extra library
        books, additional computers … <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Ensure that children receive at least <strong>one balanced meal</strong> per day. Either by providing the
        meal or sponsoring within the school catering structure. <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> To identify children and families in need by working closely with the school authorities, and
        school teachers. <br>
        <i class="fa fa-circle" aria-hidden="true" style="font-size: 10px;"></i> Identify children in <strong>need educationally</strong> and provide extracurricular teaching to give them
        that extra help to keep up.
        </p>
      </div>
  </div>
</div>

  <div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa1.gif') %>');">
            </div>
            <a href="/aims" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.gif') %>');">
            </div>
            <a href="/raise" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.gif') %>');">
            </div>
            <a href="/communication" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wraper" style="background-color: white">
<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Bank account | HSBC 848 8724 38 838</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: give@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>
</div>
