
<h2 class="text-center" style="margin-top: 150px; letter-spacing: 3px; font-weight: lighter;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> How do we communicate? <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>

<div class="wraper" style="margin-top: 100px; background-color: #e8ecf0; padding: 40px;">
  <div class="container">
    <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="mission-text">
      The first objective is to make people aware of the aims and goals of the association. Today known through the French community in Hong Kong, our long term aim is to reach a far wider audience. This will be achieved by: <br>
      • Not just asking for funds but increasing our presence at various events giving <br>
      us a chance to explain who we are and what we do. <br>
      • Producing simple and clear brochures, as well as marketing material (badges,
      polo-shirts) to reinforce the association’s presence in people’s minds. <br>
      </div>
    </div>
    <div class="col-md-5 col-xs-12">
      <div class="pic" style="background-image:  url('<%= image_path('mission2.gif') %>');">

      </div>
      </div>
  </div>
</div>
</div>
