<h2 class="text-center" style="margin-top: 150px; letter-spacing: 3px; font-weight: lighter;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> How do we raise money? <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>

<div class="wraper" style="margin-top: 100px; background-color: #e8ecf0; padding: 40px;">
  <div class="container">
    <div class="row">
    <div class="col-md-7">
      <div class="mission-text">
      <p>
Fund raising Action Plan for the next 12 month <br>
<strong>March 2016:</strong> Humanitarian and exchange mission to Kathmandu; 30 youths from the French
International School in HK will be renovating classrooms (painting, organizing), distributin
warm clothes, help in the organization of a health camp. The cost of the trip and the funds distributed is to be paid for by the families and the youths themselves. This is not only a humanitarian mission, but also a learning experience for the youths in the needs of others. <br>
 <strong>May 2016:</strong> Fund raising conference and film projection of the experiences of the participants’ in the recent visit to the Kathmandu. <br>
 <strong>October 2016:</strong> Fund raising car boot sale <br>
 <strong>November / December 2016:</strong> Sale of Christmas decorations, trees and assorted items. <br> <br>
 <strong>February 2017:</strong> Fund raising concert in the Church of Saint Anne in Stanley <br>
<strong>March 2017:</strong> Sponsored beach cleaning, not only will HK beaches be cleaner, but sponsors donate money to Mayaa Hong Kong according to the amount of rubbish collected. <br>
  <strong>April 2017:</strong> Humanitarian and exchange mission to Kathmandu; 30 youths from the French International School. <br>
  <strong>All year:</strong> Spontaneous actions throughout the year, raising awareness of the needs of underprivileged school children in Hong Kong. <br>
   <strong>All year:</strong> Approaching corporate sponsors to raise awareness and seek funds.</p>
      </div>
    </div>
    <div class="col-md-5">
      <div class="pic2" style="background-image:  url('<%= image_path('mission1.gif') %>');">

      </div>
      </div>
  </div>
</div>
</div>
