<div class="wraper" style="margin-top: 50px; background-color: #e8ecf0; padding: 40px;">
  <div class="container">
    <div class="pic2" style="background-image:  linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.4) 50%),url('<%= image_path('mission1.gif') %>');"><h2 class="text-center" style=" letter-spacing: 3px; font-weight: bolder;"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> How do we raise money? <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2></div>
      <div class="mission-text">
      <p>Fund raising Action Plan for the next 12 month <br>
      <strong>March 2016:</strong> Humanitarian and exchange mission to Kathmandu; 30 youths from the French
      International School in HK will be renovating classrooms (painting, organizing), distributin
      warm clothes, help in the organization of a health camp. The cost of the trip and the funds distributed is to be paid for by the families and the youths themselves. This is not only a humanitarian mission, but also a learning experience for the youths in the needs of others. <br>
      <strong>May 2016:</strong> Fund raising conference and film projection of the experiences of the participants’ in the recent visit to the Kathmandu. <br>
      <strong>October 2016:</strong> Fund raising car boot sale <br>
      <strong>November / December 2016:</strong> Sale of Christmas decorations, trees and assorted items. <br> <br>
      <strong>February 2017:</strong> Fund raising concert in the Church of Saint Anne in Stanley <br>
      <strong>March 2017:</strong> Sponsored beach cleaning, not only will HK beaches be cleaner, but sponsors donate money to Mayaa Hong Kong according to the amount of rubbish collected. <br>
      <strong>April 2017:</strong> Humanitarian and exchange mission to Kathmandu; 30 youths from the French International School. <br>
      <strong>All year:</strong> Spontaneous actions throughout the year, raising awareness of the needs of underprivileged school children in Hong Kong. <br>
       <strong>All year:</strong> Approaching corporate sponsors to raise awareness and seek funds.</p>
      </div>
  </div>
</div>

  <div class="wraper" style="background-color: #e8ecf0; padding-top: 70px; padding-bottom: 70px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa1.gif') %>');">
            </div>
            <a href="/aims" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">The aims of the <br> charity Mayaa HK</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa2.gif') %>');">
            </div>
            <a href="/raise" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> raise funds?</div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img" style="background-image:  url('<%= image_path('mayaa3.gif') %>');">
            </div>
            <a href="/communication" style="text-decoration: none; color: #404895">
            <div class="btn-mayaa text-center">How do we <br> communicate?</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wraper" style="background-color: white">
<div class="container" style="padding-top: 70px; padding-bottom: 70px;">
  <h2 class="text-center"><i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i> Donate and help <i class="fa fa-caret-right" aria-hidden="true" style="color: #404895"></i><i class="fa fa-caret-left" aria-hidden="true" style="color: #d84f45"></i></h2>
  <div class="row">
    <div class="col-md-6">
      <div class="donate text-center">
        <h4>Sponsor a child for education</h4>
        <h5>Develop individual patronage:</h5>
        <h5>to provide 1 child with basic education cost HK$ 800(100 euros) to HK$1800 (220 euros) per year, which includes books, stationery, school uniform.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="donate1 text-center">
        <h4>Mayaa Hong Kong / Bank Account</h4>
        <h5>Bank account | HSBC 848 8724 38 838</h5>
        <h5>Do you want to give a little bit of time? <br> Contact us: give@mayaahk.com</h5>
      </div>
    </div>
  </div>
</div>
</div>
